/* CSS Document */

body{ font-size:14px; line-height:25px;}
body li{ list-style-type:none;}
dl, ul, li, ol, dt, dd, a, span{display:block; margin:0px; padding:0px;}
a{ font-size:12px;}
a:link{ font-size:12px; color:#0066FF; text-decoration:none}
a:visited{ color:#6699CC; text-decoration:none; font-size:12px; }
a:hover{ color:#FF0000; text-decoration:underline; font-size:12px; }

#header, #banner, .main, #bottom{ width:960px; margin:0px auto; overflow:hidden}
#banner, .main, #bottom{ padding:0px 8px 0px 10px; width:944px;}

#top{ background-image:url(../image/header.jpg); height:80px; margin-bottom:10px;}
#top span{ font-size:24px; color:#0099CC; width:150px; line-height:80px; padding-left:20px; float:left}

#top .rtop{ width:450px; height:80px; float:right; overflow:hidden; margin-right:10px;}
#top .login{ width:450px; height:40px; margin-top:10px;}
#top .laber{ width:60px; float:left; text-align:right; font-size:12px;}
#top .inpu{ width:100px; float:left;}
#top .button{ width:40px; float:left;}
#top ul li{ width:45px; float:left; text-align:center; font-size:12px;}
#top .word{ color:#FF0000; width:450px; line-height:30px; font-size:14px;}


#nav{ height:36px; background:#B5B1F3; padding-left:46px; }
#nav ul li{ display:inline}
#nav ul li a{ width:123px; height:36px; line-height:36px; display:block; float:left; font-size:14px; color:#FFFFFF; text-align:center; }
#nav ul li a:hover{ background:url(../image/dh.png); font-weight:bold; font-size:14px; text-decoration:none}
#nav ul li a:visited{ text-decoration:none; font-size:14px;}
#nav ul li span{ display:block; width:1px; height:14px; background:#FFFFFF; float:left; margin-top:13px;}

#banner{ height:90px; background-image:url(../image/banner.jpg); margin-top:10px;}

.main{ background:#FFFFFF; margin-top:10px; overflow:hidden}
.lfmain{ width:240px; float:left}
.rfmain{ width:690px; float:right}

.rjdl{ padding:8px; border:solid 1px #CCCCCC; margin:5px 0px 5px 0px;}
.rjdl dt{ font-size:14px; margin-left:6px; color:#999999; height:35px; line-height:35px; border-bottom:solid 2px; background:url(../image/psb.gif) no-repeat; padding-left:20px; overflow:hidden}
.rjdl dt span{ width:80px; float:left;}
.rjdl dt a{ width:60px; float:right; color:#003399; font-weight:normal;}
.rjdl dd{ margin:10px;}
.rjdl .explain{ font-size:normal; color:#999999;}

#bottom div{ background:#B5B1F3; color:#999999; height:100px; text-align:center; margin:20px 0px 80px 0px; padding-top:20px;} 
.bq ul{ margin:0px auto; line-height:25px; height:25px; width:auto; margin-left:30px;}
.bq li{ width:auto; float:left;}
.bq a{ width:auto; float:left; color:#cccccc; font-size:14px;}

.lx{}